# ==========================================
# Robot Framework
# ==========================================

# Robot Framework Output Files
output.xml

# ==========================================
# Python Cache
# ==========================================

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.robotbook

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Python Environment
# ==========================================

.env

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
# Robot Framework Reports
log.html
report.html
output.xml

# Selenium generated screenshots
selenium-screenshot-1.png
selenium-screenshot-2.png
selenium-screenshot-*.png
.DS_Store
Thumbs.db
Desktop.ini