# ==========================================
# Robot Framework
# ==========================================

# Robot Framework Output Files
output.xml

# ==========================================
# Python Cache
# ==========================================

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Python Environment
# ==========================================

.env

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db
Desktop.ini